<h1 class="bg-dark text-white text-center py-4">Memoriza Cartas</h1>

<div class="container">
  <div class="text-center">
    <button class="mt-5" type="button" (click)="pickingCards()">Comenzar</button>
  </div>

  <div class="text-center">
    <div class="first row mt-3 mb-10">
      <div class="col-2">

      </div>
      <div class="col-2" *ngFor="let card of row1; let i = index">
        <div>
          <app-flip-card [hidden]="hideme[i].hidden" id="i" imgSrc="../../../assets/deck/{{card}}"
            (click)="clickedCard(card, i)">
          </app-flip-card>
        </div>

      </div>

      <!-- [ngStyle]="{'visibility':'visible'}" -->


      <div class="col-2">

      </div>
    </div>
    <div class="second row mt-5">
      <div class="col-2">

      </div>
      <div class="col-2" *ngFor="let card2 of row2; let i = index">
        <app-flip-card id="i+4" imgSrc="../../../assets/deck/{{card2}}" (click)="clickedCard(card2, i+4)">
        </app-flip-card>
      </div>

      <div class="col-2">

      </div>
    </div>


  </div>

</div>